

.dayelt-wrapper {
    width: 40vw;
    min-width: 600px;
    max-width: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dayelt-separation {
    width: 70%;
    height: 1px;
    margin: 15px auto 15px auto;
    background: rgba(255, 255, 255, 0.3);
}

.dayelt-section {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


.dayelt-logo {
    width: 35px;
    font-size: 2.8em;
    margin-right: 5px;
}

.day-number { font-family: OpenSansBold;}

.dayelt-value {
    font-size: 1em;
}


.searchbar-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 60%;
    margin: 0px auto 80px auto;
    border-bottom: 1px solid var(--4);
    padding: 7px 15px;
    font-size: 1.2em;
}

.searchbar-wrapper input {
    width: 80%;
    background: none;
    border: none;
    padding: 5px 0px;
    outline: none;
    font-size: 1.1em;
    color: var(--4);
}

.searchbar-wrapper svg {
    cursor: pointer;
}